*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1720px;
    /* margin: 0 auto; */
}
.header{
    height: 1080px;
    background-image: url(/img/header-bg-img.png);
    color: #fff;
    font-family: 'Mulish', sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__head-top{
    position: relative;
    display: flex;
    padding-top:  66px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 124px;
}
.menu{
    width: 556px;
    font-size: 16px;
}
.menu__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu__link{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header-bar{
    display: flex;
    width: 418px;
    justify-content: space-between;
}

.personal-bar{
    width: 171px;
    
}
.personal-bar__list{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items:center;

    
}

.social-bar{
    width: 126px;
}
.social-bar__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.social-bar__item{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
}
.social-bar__img{
    position: relative;
    display: block;
    right: -50%;
    top: 50%;
    height: 18px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    filter: invert(1);
    -webkit-filter: invert(1);
    
}
.social-bar__img-facebook{
    transform: translate(-60%, -50%);
    -webkit-transform: translate(-60%, -50%);
    -moz-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    -o-transform: translate(-60%, -50%);
}

.btn{
    width: 280px;
    height: 70px;
    padding: 0 35px 5px;
    text-align: left;
    background-color: #0aa566;
    background-image: url(/img/Arrow.png);
    background-repeat: no-repeat;
    background-position: 84% 50%;  
    border: none;
    outline: none;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.btn__text{
    height: 100%;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    color: #fff;
}
.btn:hover{
    box-shadow: 0px 0px 5px black;
}


.smoothies{
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 96px;
}
.title2{
    color: #f7ae3b;
    font-size: 50px;
    font-weight: 800;
}
.smoothies__text{
    width: 1010px;
    padding: 48px 44px 64px;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
}
.smoothies__fave-cards{
    display: flex;
    width: 1010px;
}



