*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-text{
    font-family: 'Mulish', sans-serif;
}
.container{
    width: 1700px;
    padding: 0 10px;
} 
.header{
    height: 1080px;
    background-image: url(img/header-bg-img.jpg);
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__head-top{
    position: relative;
    display: flex;
    padding-top:  66px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 124px;
}
.menu{
    width: 556px;
    font-size: 16px;
}
.menu__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu__item{
    margin-right: 42px;
}
.menu__link{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header-bar{
    display: flex;
    width: 418px;
    justify-content: space-between;
}
.personal-bar{
    width: 171px;
}
.personal-bar__list{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items:center; 
}
.social-bar{
    width: 126px;
}
.social-bar__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.social-bar__item{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
}
.social-bar__img{
    position: relative;
    display: block;
    right: -50%;
    top: 50%;
    height: 18px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    filter: invert(1);
    -webkit-filter: invert(1);
    
}
.social-bar__img-facebook{
    transform: translate(-60%, -50%);
    -webkit-transform: translate(-60%, -50%);
    -moz-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    -o-transform: translate(-60%, -50%);
}








.btn{
    height: 60px;
    padding: 0 35px 5px;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;    
}
.btn_first{
    width: 280px;
    background-image: url(img/Arrow-white.png);
    background-repeat: no-repeat;
    background-color: #0aa566;
    background-position: 84% 50%; 
}

.btn_second{
    width: 380px;
    background-image: url(img/Arrow-right.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
    background-color: #19816e;
    border: 2px solid #f8b231;
    background-position: 88% 50%; 
}
.btn-nocolor{
    width: 204px;
    background-image: url(img/Arrow-white.png);
    background-repeat: no-repeat;
    background-color: #0aa566;
    background-position: 82% 50%;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0);   
}
.btn__text{
    height: 100%;
    font-family: 'Mulish', sans-serif;
    font-size: 21px;
    color: #fff;
}
.btn:hover{
    box-shadow: 0px 0px 5px #000;
}


.smoothies{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 96px;
    padding-bottom: 106px;
}
.title2{
    color: #f7ae3b;
    font-size: 50px;
    font-weight: 800;
}
.title2__uppercase{
    text-transform: uppercase;
    color: #f2612d;
}
.title3{
    font-size: 30px;
    font-weight: 700;
    word-spacing: -4px;
    color: #f2612d;

}


.smoothies__text{
    width: 1010px;
    padding: 48px 44px 64px;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
}
.smoothies__fave-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-collapse: collapse;
    width: 1008px;
}
.smoothies__card{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    width: 252px;
    height: 182px;
    padding-top: 26px;
    padding-bottom: 32px;
    border: 1px solid #f7ae3b;
}
.smoothies__text-card{
    padding-top: 26px;
    color: #f2612d;
    font-size: 25px;
    font-weight: bold;
}
.smoothies__card_plant{
    border-top: none;
    border-left: none;
}
.smoothies__card_vegan{
    border-top: none;
}
.smoothies__card_paleo{
    border-top: none;
}
.smoothies__card_gluten{
    border-top: none;
    border-right: none;
}
.smoothies__card_corn{
    border-bottom: none;
    border-left: none;
}
.smoothies__card_soy{
    border-bottom: none;
}
.smoothies__card_ayurvedic{
    border-bottom: none;
}
.smoothies__card_love{
    border-bottom: none;
    border-right: none;
}




.about{
    position: relative;
    background-color: #18846c;
    color: #fff;
    display: flex;
    justify-content: flex-start;
}
.about__picture{
    position: relative;
    top: 90px;
    width:50%;
    text-align: center;
}
.about__title{
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 40px;
}
.about__check{
    width: 630px;
    padding: 98px 16px 94px;
}
.about__list{
    list-style: none;
    line-height: 40px;
    padding-bottom: 54px;
}
.about__item{
    padding-left: 40px;
    position: relative;
}
.about__item::before{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 12px;
    width: 18px;
    height: 18px;
    padding-right: 20px;
    background-image: url(img/1.png);
    background-repeat: no-repeat;
}
.text-vegan{
    color: #cae941;
}
.text-vegan::after{
    content: '';
    display: block;
    width: 430px;
    height: 13px;
    background-image: url(img/Line.png);
    background-size: 100%;
    transform: translateX(55px);
    -webkit-transform: translateX(55px);
    -moz-transform: translateX(55px);
    -ms-transform: translateX(55px);
    -o-transform: translateX(55px);
}

.product{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.product__card{
    padding-top: 128px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-grow: 1;
}
.product__card_dark{
    background-color: #622d14;
}
.product__card_vegan{
    background-color: #148774;
}
.product__card_lemon{
    background-color: #f7ac3a;
}
.product__card_turmeric{
    background-color: #c4471a;
}
.product__image{
    padding-bottom: 30px;
}
.name__product{
    font-size: 22px;
    line-height: 44px;
}
.ml{
    font-style: italic;
    padding-bottom: 64px;
}




.story{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.story__foto{
    width: 650px;
    padding: 80px 0 160px 65px;
}
.story__main{
    width: 650px;
}
.story__text{
    line-height: 35px;
    padding: 43px 140px 60px 0;
    font-size: 18px;
}



.testimonials{
    position: relative;
    background-color: #6a2e1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 217px;
    
}
.testimonials::before{
    display: block;
    position: absolute;
    height: 400px;
    line-height: 400px;
    text-align: center;
    content: 'Sarah A';
    color: #5b2310;
    font-size: 200px;
    font-weight: 800;
    left: 20%;
    word-spacing: -4px;
}
.testimonials__main-block{
    position: relative;
    display: flex;
    align-items:center;
    padding-top: 126px;
}
.testimonials__text{
    width: 524px;
    padding-right: 54px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}
.testimonials__cite{
    color: #f7ae3b;
}
.testimoials__avat{
    display: block;
}
.testimonials__button-for-right-and-left{
    position: absolute;
    bottom: 74px;
}
.testimonials__btn:first-child{
    margin-right: 96px;
}




.blog{
    position: relative;
    width: 1220px;
    margin: auto;
    padding: 104px 10px 200px;
}  
.blog__main-elem{
    float: right;
    padding-top: 115px;
    width:50%;
}
.blog::after{
    content: '';
    display: block;
    clear: both;
}
.blog__img{
    position: absolute;
    top: 200px;
    height: 408px;
    left: 10px;
    z-index: 3;
}
.blog__line{
    background-color: #f7ae3b;
    width: 200%;
    height: 14px;
    transform: translateX(-50%);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin-bottom: 44px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.text_time{
    font-size: 16px;
}
.blog__title{
    margin-bottom: 16px;
    padding-right: 46px;
}
.blog__text{
    font-size: 18px;
    padding-top: 36px;
    padding-left: 50px;
    line-height: 34px;
    padding-right: 46px;
}
.blog__read-more{
    display: inline;
}

