/*------------------------fonts---------------------------------------*/
.about {
  position: relative;
  background-color: #18846c;
  color: #fff;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1400px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
}
.about__picture {
  position: relative;
  top: 90px;
  width: 50%;
  text-align: center;
}
@media (max-width: 1400px) {
  .about__picture {
    display: none;
  }
}
.about__title {
  font-family: 'MuliExtraBold';
  font-size: 5rem;
  padding-bottom: 40px;
}
.about__accent-text {
  color: #cae941;
}
.about__accent-text::after {
  content: '';
  display: block;
  width: 430px;
  height: 13px;
  background-image: url(../../img/Line.png);
  background-size: 100%;
  transform: translateX(55px);
  -webkit-transform: translateX(55px);
  -moz-transform: translateX(55px);
  -ms-transform: translateX(55px);
  -o-transform: translateX(55px);
}
@media (max-width: 650px) {
  .about__accent-text::after {
    display: none;
  }
}
.about__check {
  width: 630px;
  padding: 98px 16px 94px;
}
@media (max-width: 1400px) {
  .about__check {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 650px) {
  .about__check {
    width: 100%;
  }
}
.about__list {
  list-style: none;
  line-height: 40px;
  font-family: 'MuliRegular';
  font-size: 2.1rem;
  padding-bottom: 54px;
}
.about__item {
  padding-left: 40px;
  position: relative;
}
.about__item::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 12px;
  width: 18px;
  height: 18px;
  padding-right: 20px;
  background-image: url(../../img/1.png);
  background-repeat: no-repeat;
}
