/*------------------------fonts---------------------------------------*/
.blog {
  position: relative;
  width: 1220px;
  margin: auto;
  padding: 104px 10px 200px;
}
@media (max-width: 1220px) {
  .blog {
    width: 100%;
  }
}
.blog::after {
  content: '';
  display: block;
  clear: both;
}
.blog__title {
  font-family: 'MuliExtraBold';
  color: #f7ae3b;
  font-size: 50px;
  font-weight: 800;
}
.blog__title3 {
  font-size: 30px;
  font-weight: 700;
  word-spacing: -4px;
  color: #f2612d;
  margin-bottom: 16px;
  padding-right: 46px;
}
.blog__main-elem {
  float: right;
  padding-top: 115px;
  width: 50%;
}
@media (max-width: 1220px) {
  .blog__main-elem {
    padding-top: 40px;
  }
}
@media (max-width: 920px) {
  .blog__main-elem {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .blog__main-elem {
    float: none;
    width: 100%;
  }
}
.blog__img {
  position: absolute;
  top: 200px;
  height: 408px;
  left: 10px;
  z-index: 3;
}
@media (max-width: 1220px) {
  .blog__img {
    height: 306px;
    top: 254px;
  }
}
@media (max-width: 920px) {
  .blog__img {
    display: none;
  }
}
.blog__line {
  background-color: #f7ae3b;
  width: 200%;
  height: 14px;
  transform: translateX(-50%);
  border-radius: 7px;
  margin-bottom: 44px;
}
@media (max-width: 1266px) {
  .blog__line {
    width: 200%;
  }
}
.blog_time {
  font-size: 16px;
}
.blog__text {
  font-size: 18px;
  padding-top: 36px;
  padding-left: 50px;
  line-height: 34px;
  padding-right: 46px;
}
.blog__read-more {
  display: inline;
  color: #000;
}
