/*------------------------fonts---------------------------------------*/
.footer {
  background-color: #f4ad3d;
}
.footer__top {
  position: relative;
  padding: 80px 0 90px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1366px) {
  .footer__top {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.footer__logo {
  position: absolute;
  top: 132px;
  left: 102px;
}
@media (max-width: 1366px) {
  .footer__logo {
    display: none;
  }
}
.footer__column {
  color: #6d450c;
  font-family: 'MuliBold';
  font-size: 1.8rem;
}
.footer__column_info {
  margin-right: 146px;
}
@media (max-width: 1566px) {
  .footer__column_info {
    margin-right: 73px;
  }
}
.footer__column_label {
  margin-right: 166px;
}
@media (max-width: 1566px) {
  .footer__column_label {
    margin-right: 83px;
  }
}
.footer__column_contacts {
  margin-right: 100px;
}
@media (max-width: 1366px) {
  .footer__column_contacts {
    margin-right: 0;
  }
}
.footer__title {
  font-family: 'MuliExtraBold';
  font-size: 2.6rem;
  color: #fff;
  margin-bottom: 42px;
}
.footer__list-info {
  list-style: none;
}
.footer__item-info {
  line-height: 35px;
}
.footer__link {
  color: #6d450c;
}
.footer__input {
  width: 495px;
  height: 60px;
  padding-left: 60px;
  margin-bottom: 25px;
  border: none;
  border-radius: 38px;
  background-image: url(../../img/mail.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  color: #6d450c;
}
@media (max-width: 500px) {
  .footer__input {
    width: 100%;
    padding-left: 50px;
  }
}
.footer__follow {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer__text-follow {
  position: relative;
}
.footer__text-follow::after {
  display: block;
  content: '';
  width: 48px;
  height: 43px;
  left: -62px;
  top: -18px;
  background-image: url(../../img/Arrow.png);
  background-repeat: no-repeat;
  position: absolute;
}
.footer__copyrate {
  position: relative;
  padding: 22px 0;
  font-size: 1.3rem;
  color: #af8a82;
  background-color: #6f2d1d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__btn {
  position: absolute;
  right: 100px;
  top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #f2662f;
  cursor: pointer;
}
.footer__btn::after {
  position: absolute;
  color: #fff;
  font-size: 1.6rem;
  content: 'Go top';
  left: -60px;
  top: 45px;
}
.footer__btn_fixed {
  position: fixed;
  right: 100px;
  bottom: 33px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #f2662f;
  cursor: pointer;
}
