/*------------------------fonts---------------------------------------*/
.menu {
  width: 556px;
  font-size: 1.6rem;
}
@media (max-width: 1500px) {
  .menu {
    display: none;
  }
}
.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.menu__item {
  margin-right: 42px;
}
.menu__link {
  text-transform: uppercase;
  font-family: 'MuliBold', sans-serif;
}
