/*------------------------fonts---------------------------------------*/
.products {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.products__card {
  padding-top: 128px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
@media (max-width: 880px) {
  .products__card {
    width: 50%;
  }
}
.products__card_dark {
  background-color: #622d14;
}
.products__card_vegan {
  background-color: #148774;
}
.products__card_lemon {
  background-color: #f7ac3a;
}
.products__card_turmeric {
  background-color: #c4471a;
}
.products__image {
  padding-bottom: 30px;
}
.products__name {
  font-family: 'MuliBold';
  font-size: 2.2rem;
  line-height: 44px;
}
@media (max-width: 1024px) {
  .products__name {
    font-size: 1.8rem;
  }
}
.products__ml {
  font-size: 1.8rem;
  font-style: italic;
  padding-bottom: 64px;
}
@media (max-width: 1024px) {
  .products__ml {
    font-size: 1.4rem;
  }
}
@media (max-width: 880px) {
  .products {
    flex-wrap: wrap;
  }
}
