// main ./../main.less

@import "../_variables.less";

.social{
    width: 126px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    &_footer{
        margin-right: 52px;
        margin-left: 21px;
    }
    &__item{
        position: relative;
        &_header{
            border-radius: 50%;
            background-color: @main-color;
            width: 35px;
            height: 35px;
        }
        &_footer{
            margin-left: 23px;
        }
        &:hover{
            filter: drop-shadow(0 0 10px @accent-color-2);
        }
    }
    &__img{
        position: relative;
        display: block;
        right: -50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 18px;
        &_header{
            filter: invert(1);
        }

    }

}