/*------------------------fonts---------------------------------------*/
.social {
  width: 126px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.social_footer {
  margin-right: 52px;
  margin-left: 21px;
}
.social__item {
  position: relative;
}
.social__item_header {
  border-radius: 50%;
  background-color: #fff;
  width: 35px;
  height: 35px;
}
.social__item_footer {
  margin-left: 23px;
}
.social__img {
  position: relative;
  display: block;
  right: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 18px;
}
.social__img_header {
  filter: invert(1);
}
