/*------------------------fonts---------------------------------------*/
.testimonials {
  position: relative;
  width: 100%;
  height: 720px;
  background-color: #66311d;
  color: #fff;
  display: flex;
  font-size: 1.8rem;
  padding-top: 117px;
}
@media (max-width: 780px) {
  .testimonials {
    padding-top: 98px;
  }
}
.testimonials__title {
  font-size: 4rem;
  font-family: 'MuliExtraBold';
  color: #f7ae3b;
  padding-bottom: 119px;
}
@media (max-width: 780px) {
  .testimonials__title {
    padding-bottom: 59px;
  }
}
.testimonials__uppercase {
  text-transform: uppercase;
  color: #f2612d;
}
.testimonials__text {
  position: relative;
  width: 466px;
  margin-right: 55px;
  align-self: center;
  z-index: 1;
}
@media (max-width: 780px) {
  .testimonials__text {
    margin: 0;
  }
}
.testimonials__text-background {
  position: absolute;
  top: -132px;
  left: -190px;
  font-family: 'MuliExtraBold';
  font-size: 20rem;
  color: #521905;
  z-index: -1;
  width: 800px;
}
@media (max-width: 1133px) {
  .testimonials__text-background {
    top: -100px;
    left: 0;
    font-size: 10rem;
    width: auto;
  }
}
.testimonials__blockquote {
  line-height: 3.5rem;
}
.testimonials__slide {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  left: 0;
  background-color: #66311d;
  text-align: center;
  transition: all 1s ease-out;
}
.testimonials__main-block {
  display: flex;
  justify-content: center;
}
@media (max-width: 780px) {
  .testimonials__main-block {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
.testimonials__avat {
  position: relative;
  width: 220px;
  height: 218px;
  z-index: 5;
}
@media (max-width: 780px) {
  .testimonials__avat {
    width: 110px;
    height: 109px;
  }
}
.testimonials__cite {
  color: #f7ae3b;
  line-height: 4.5rem;
}
.testimonials__button-for-right-and-left {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 158px;
  display: flex;
  justify-content: space-between;
}
