// main: ./main.less

@main-color: #fff;
@colortest: red;




/*------------------------fonts---------------------------------------*/

@PoppinsSemiBold: 'PoppinsSemiBold';
@PoppinsMedium: 'PoppinsMedium';
@MuliRegular: 'MuliRegular';
@MuliBold: 'MuliBold';
@MuliExtraBold: 'MuliExtraBold';
@MuliExtraBoldItalic: 'MuliExtraBoldItalic';