@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('../assets/fonts/Poppins-SemiBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'PoppinsMedium';
  src: url('../assets/fonts/Poppins-Medium.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'MuliRegular';
  src: url('../assets/fonts/Muli-Regular.woff');
  font-style: normal;
}
@font-face {
  font-family: 'MuliBold';
  src: url('../assets/fonts/Muli-Bold.woff');
  font-style: normal;
}
@font-face {
  font-family: 'MuliExtraBold';
  src: url('../assets/fonts/Muli-ExtraBold.woff');
  font-style: normal;
}
@font-face {
  font-family: 'MuliExtraBoldItalic';
  src: url('../assets/fonts/Muli-ExtraBoldItalic.woff');
  font-style: normal;
}
/*подключаем шрифты*/
/*------------------------fonts---------------------------------------*/
/*переменные*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'MuliRegular', sans-serif;
  font-size: 10px;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
/*---------blocks----------*/
.header {
  height: 1080px;
  background-image: url(../../img/header-bg-img.jpg);
  background-position: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__head-top {
  width: 1700px;
  padding: 0 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 66px;
  padding-bottom: 124px;
}
.menu {
  font-size: 1.6rem;
}
.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.menu__item {
  margin-right: 42px;
}
.menu__link {
  text-transform: uppercase;
  font-family: 'MuliBold';
}
