// out: ./main.css, compress: false, sourceMap: false


@import "./_fonts.less";   /*подключаем шрифты*/
@import "./_variables.less"; /*переменные*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: @MuliRegular, sans-serif;
    font-size: 10px;
}
a{
    text-decoration: none;
    color: @main-color;
}





/*---------blocks----------*/

@import "./blocks/_header.less";
@import "./blocks/_logo.less";
@import "./blocks/_social.less";
@import "./blocks/_button.less";
@import "./blocks/_smoothies.less"; 
@import "./blocks/_about.less";
@import "./blocks/_products.less";
@import "./blocks/_story.less";
@import "./blocks/_testimonials.less";
@import "./blocks/_blog.less";
@import "./blocks/_instagram.less";
@import "./blocks/_footer.less";